<div id="artists" class="well">
  <h1 class="text-center">Artists</h1>

  <form name="searchForm">
    <div class="row">
      <div class="form-group col-md-4">
        <label for="query" class="control-label">Query</label>
        <input type="text" class="form-control"
               name="query" id="query"
               ng-model="artists.searchParams.q"
               placeholder="Enter query"
               required/>
        <ng-messages for="searchForm.query.$error" ng-show="searchForm.query.$invalid">
          <ng-message when="required" class="text-danger">Required field</ng-message>
        </ng-messages>
      </div>
      <div class="form-group col-md-2">
        <label for="type" class="control-label">Type</label>
        <select class="form-control"
                name="type" id="type"
                ng-model="artists.searchParams.type"
                ng-options="type for type in artists.types"
                required>
        </select>
        <ng-messages for="searchForm.type.$error" ng-show="searchForm.type.$invalid">
          <ng-message when="required" class="text-danger">Required field</ng-message>
        </ng-messages>
      </div>
      <div class="form-group col-md-2">
        <label class="control-label">&nbsp;</label>
        <button class="btn btn-primary form-control" ng-click="artists.search(searchForm)">Search</button>
      </div>
    </div>

  </form>

  <ul class="list-group">
    <li class="list-group-item clearfix" ng-repeat="artist in artists.list">
      <h3>
        {{ artist.name }}
      </h3>
      <artist-image artist="artist" class="pull-right"></artist-image>
    </li>
  </ul>
</div>
