<div id="artists" class="well">
  <h1 class="text-center">Artists</h1>

  <form class="form-inline">
    <div class="control-group">
      <input type="text" class="form-control" placeholder="Enter query" ng-model="artists.query"/>
      <button class="btn btn-primary" ng-click="artists.search()">Search</button>
    </div>

  </form>

  <ul class="list-group">
    <li class="list-group-item clearfix" ng-repeat="artist in artists.list">
      <h3>
        {{ artist.name }}
      </h3>
      <artist-image artist="artist" class="pull-right"></artist-image>
    </li>
  </ul>
</div>
